<p id="notice"><%= notice %></p>

<h1>Listing Visa Requests</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Date</th>
      <th>Purpose</th>
      <th>Project</th>
      <th>User</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visa_requests.each do |visa_request| %>
      <tr>
        <td><%= visa_request.code %></td>
        <td><%= visa_request.date %></td>
        <td><%= visa_request.purpose %></td>
        <td><%= visa_request.project_id %></td>
        <td><%= visa_request.user_id %></td>
        <td><%= visa_request.description %></td>
        <td><%= link_to 'Show', visa_request %></td>
        <td><%= link_to 'Edit', edit_visa_request_path(visa_request) %></td>
        <td><%= link_to 'Destroy', visa_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visa request', new_visa_request_path %>
