<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @visa_request.code %>
</p>

<p>
  <strong>Date:</strong>
  <%= @visa_request.date %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @visa_request.purpose %>
</p>

<p>
  <strong>Project:</strong>
  <%= @visa_request.project_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @visa_request.user_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @visa_request.description %>
</p>

<%= link_to 'Edit', edit_visa_request_path(@visa_request) %> |
<%= link_to 'Back', visa_requests_path %>
