<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @request.type_id %>
</p>

<p>
  <strong>Contract:</strong>
  <%= @request.contract_id %>
</p>

<p>
  <strong>Start:</strong>
  <%= @request.start %>
</p>

<p>
  <strong>Days:</strong>
  <%= @request.days %>
</p>

<p>
  <strong>Vacationdays:</strong>
  <%= @request.vacationdays %>
</p>

<p>
  <strong>Exitdays:</strong>
  <%= @request.exitdays %>
</p>

<p>
  <strong>Otherdays:</strong>
  <%= @request.otherdays %>
</p>

<p>
  <strong>Actualreturn:</strong>
  <%= @request.actualreturn %>
</p>



<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
